body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 50px;
  font-weight: 800px;
  background-color: rgb(132, 195, 225);
  border-width: 50px;
  border-style: solid;
  border-color: hsl(216, 38%, 97%);
  border-radius: 5px;
  top: 10px;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 48px;
  line-height: 100px;
  padding: 30px, 10px, 30px, 10px;
  color: rgb(5, 11, 131);
}

h1 h2,
h3 {
  color: #12075d;
  text-align: left;
}

.search-eng-btn {
  text-align: center;
}
.row {
  font-size: 24px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 25px;
  text-align: center;
}
.forecast {
  text-align: center;
  font-size: 22px;
  color: #ab47bc;
  border-style: solid;
  border-color: #eedaf2;
  position: relative;
}
